{% extends 'base.html.twig' %}
{% block title %}
    Details About Camera
{% endblock %}
{% block main %}
    <table class="table">
        <tbody>
        <tr class="table-success">
            <td>Make</td>
            <td>{{ camera.make }}</td>
        </tr>
        <tr class="table-danger">
            <td scope="row">Model</td>
            <td>{{ camera.model }}</td>
        </tr>
        <tr class="table-info">
            <td>Price</td>
            <td>{{ camera.price }}</td>
        </tr>
        <tr class="table-warning">
            <td>Min Shutter Speed</td>
            <td>{{ camera.minShutterSpeed }}</td>
        </tr>
        <tr class="table-active">
            <td>Max Shutter Speed</td>
            <td>{{ camera.maxShutterSpeed }}</td>
        </tr>
        <tr class="table-success">
            <td>Min ISO</td>
            <td>{{ camera.minIso }}</td>
        </tr>
        <tr class="table-danger">
            <td>Max ISO</td>
            <td>{{ camera.maxIso }}</td>
        </tr>
        <tr class="table-info">
            <td>Full Frame</td>
            {% if camera.isFullFrame %}
                <td>yes</td>
            {% else %}
                <td>no</td>
            {% endif %}
        </tr>
        <tr class="table-warning">
            <td>Resolution</td>
            <td>{{ camera.videoResolution }}</td>
        </tr>
        <tr class="table-active">
            <td>Light Metering</td>
            <td>{{ camera.lightMetering }}</td>
        </tr>
        <tr class="table-success">
            <td>Description</td>
            <td>{{ camera.description }}</td>
        </tr>
        <tr class="table-danger">
            <td>Seller Name</td>
            <td>{{ camera.user.username }}</td>
        </tr>
        <tr>
            <td>
                Product Image
            </td>
            <td><img class="viewDetails" src="{{ camera.imageUrl }}"></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary mb-2" href="{{ path('getSellerContacts', {'id': camera.id}) }}" id="contactInDetails">Contact
        Seller</a>
    <h1>Seller Cameras:</h1>
    <section id="viewAds" class="centerAllAds">
        {% for camera in sellerCameras %}
            <div class="ads">
                <div class="advert-small centerInsideAd">
                    <h3 class="makeAndModel">{{ camera.make }} {{ camera.model }}</h3>
                    <img src="{{ camera.imageUrl }}">
                    <h3 class="price">{{ camera.price }} $</h3>
                    <div class="actions">
                        <a class="viewDetails" href="{{ path('viewDetails', {'id': camera.id}) }}">View Details</a>
                        <a class="contactSeller" href="{{ path('getSellerContacts', {'id': camera.id}) }}">Contact
                            Seller</a>
                    </div>
                </div>
            </div>
        {% else %}
            <h1>No cameras are published for sell.</h1>
        {% endfor %}
    </section>
{% endblock %}

