{% extends 'base.html.twig' %}
{% block title %}
    View Cameras
{% endblock %}
{% block main %}
    <form class="navbar-form" role="search">
            <input class="form-control" placeholder="Search For Make" id="searchByMake" type="text">
                <button class="btn btn-primary mb-2" type="submit">Go</button>
    </form>

    <section id="viewAds" class="centerAllAds">
        {% for camera in cameras %}
            <div class="ads">
                <div class="advert-small centerInsideAd">
                    <h3 class="makeAndModel">{{ camera.make }} {{ camera.model }}</h3>
                    <img src="{{ camera.imageUrl }}">

                    <h3 class="price">{{ camera.price }} $</h3>
                    <div class="actions">
                        <a class="viewDetails" href="{{ path('viewDetails', {'id': camera.id}) }}">View Details</a>
                        <a class="contactSeller" href="{{ path('getSellerContacts', {'id': camera.id}) }}">Contact Seller</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}