{% extends 'base.html.twig' %}
{% block title %}
    Contact Seller
{% endblock %}
{% block main %}
    <table class="table">
        <tbody>
        <tr class="table-active">
            <td>Username</td>
            <td>{{ seller.username }}</td>
        </tr>
        <tr class="table-info">
            <td>Email</td>
            <td>{{ seller.email }}</td>
        </tr>
        <tr class="table-success">
            <td>Phone</td>
            <td>{{ seller.phone | default("Not specified") }}</td>
        </tr>
        </tbody>
    </table>

    <h1>Seller Cameras:</h1>
    <section id="viewAds" class="centerAllAds">
        {% for camera in sellerCameras %}
            <div class="ads">
                <div class="advert-small centerInsideAd">
                    <h3 class="makeAndModel">{{ camera.make }} {{ camera.model }}</h3>
                    <img src="{{ camera.imageUrl }}">
                    <h3 class="price">{{ camera.price }} $</h3>
                    <div class="actions">
                        <a class="viewDetails" href="{{ path('viewDetails', {'id': camera.id}) }}">View Details</a>
                        <a class="contactSeller" href="{{ path('getSellerContacts', {'id': camera.id}) }}">Contact Seller</a>
                    </div>
                </div>
            </div>
        {% else %}
            <h1>No cameras are published for sell.</h1>
        {% endfor %}
    </section>
{% endblock %}

