{% extends 'base.html.twig' %}

{% block main %}
    <table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Car Make</td>
        <td>Car Model</td>
        <td>Price</td>
    </tr>
    </thead>
    <tbody>
    {% for sale in salesData %}
        <tr>
            <td>{{ sale.name }}</td>
            <td>{{ sale.model }}</td>
            <td>{{ sale.make }}</td>
            <td>{{ sale.price_discount }}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2">Total Money Spent</td>
            <td colspan="2">{{ summary.total }}</td>
        </tr>
        <tr>
            <td colspan="2">Cars Bought</td>
            <td colspan="2">{{ summary.count }}</td>
        </tr>
        </tfoot>
        </table>
        {% endblock %}