{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
{% endblock %}

{% block title %}
    TV Specifications
{% endblock %}

{% block main %}
    <section class="wrapper">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td scope="row">Make</td>
                <td scope="row">{{ tv.make }}</td>
            </tr>
            <tr>
                <td scope="row">Model</td>
                <td scope="row">{{ tv.model }}</td>

            </tr>
            <tr>
                <td scope="row">Screen Diagonal Size</td>
                <td scope="row">{{ tv.screen_diagonal_size }}</td>
            </tr>

            <tr>
                <td scope="row">Smart</td>
                <td scope="row">
                    {% if tv.is_smart %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td scope="row">USB Port</td>
                <td scope="row">
                    {% if tv.is_smart %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td scope="row">Resolution</td>
                <td scope="row">{{ tv.resolution }}</td>
            </tr>
            <tr>
                <td scope="row">Power Consummations</td>
                <td scope="row">{{ tv.power_consummation }} W</td>
            </tr>
            <tr>
                <td scope="row">Weight</td>
                <td scope="row">{{ tv.weight }} g</td>
            </tr>
            <tr>
                <td scope="row">Color</td>
                <td scope="row">{{ tv.color }}</td>
            </tr>
            </tbody>
        </table>
        <div class="actions">
            {% if app.user %}
                <a href="{{ path('addToWishlist', {'productId': tv.product_id}) }}">
                    <button class="addToWishlist">
                        <i class="fa fa-heart" style="font-size:24px"></i>
                        Add To Wishlist
                    </button>
                </a>

                <a href="{{ path('addProdToCart', {'productId': tv.product_id}) }}">
                    <button class="addToCart-big">
                        <i class="fa fa-shopping-cart" style="font-size:24px"></i>
                        Add To Cart
                    </button>
                </a>
            {% endif %}
            <a href="{{ path('buySingleProduct', {'id': tv.product_id}) }}">
                <button class="orderNow">
                    Order Now
                </button>
            </a>
        </div>
        <div class="viewReviews">
            <h2>Reviews:</h2>
            <div id="average"></div>
            <h3 class="averageGrade">({{ averageGrade }})</h3>
            <input type="hidden" value="{{ averageGrade }}" id="average-grade">

            {% for review in reviews %}
                <div class="review">
                    <div class="heading">
                        <h5>{{ review.user.username }}:</h5>
                        <div class="stars-{{ review.grade }}"></div>
                        <h5>{{ review.gradeWords }}</h5>
                    </div>
                    <p>{{ review.comment }}</p>
                </div>
            {% else %}
                <h2>No reviews for this product yet.</h2>
            {% endfor %}
        </div>
        {% if app.user and userReview is null %}
            <h2 class="review-heading">Leave Rating:</h2>
            <div id="rateUser"></div>
            <form name="app_bundle_review_type" method="post">
                <div id="app_bundle_review_type">
                    <div class="form-group">
                        <input type="hidden" id="app_bundle_review_type_grade" name="app_bundle_review_type[grade]"
                               class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <label for="app_bundle_review_type_comment" class="required">Comment</label>
                        <textarea id="app_bundle_review_type_comment" name="app_bundle_review_type[comment]"
                                  required="required" class="form-control"></textarea>
                    </div>
                    {{ form_row(form._token) }}
c
                </div>
            </form>
        {% endif %}
        {% if app.user and userReview is not null %}
            <div class="yourReview review">
                <div class="heading">
                    <h5>Your Review:</h5>
                    <div class="stars-{{ userReview.grade }}"></div>
                    <h5>{{ userReview.gradeWords }}</h5>
                </div>
                <p>{{ userReview.comment }}</p>
            </div>
        {% endif %}
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.rateyo.min.js') }}"></script>
    <script src="{{ asset('js/handleRating.js') }}"></script>
{% endblock %}
