{% extends 'base.html.twig' %}

{% block main %}
<table class="table">
    <tbody>
        <tr class="table-active">
            <td>Username</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr class="table-info">
            <td>Email</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr class="table-success">
            <td>Phone</td>
            <td>{{ user.phone | default("Not specified") }}</td>
        </tr>
    </tbody>
</table>
<h1>Your sells:</h1>
    <section id="viewAds" class="centerAllAds">
        {% for camera in userSells %}
            <div class="ads">
                <div class="advert centerInsideAd">
                    <h3 class="makeAndModel">{{ camera.make }} {{ camera.model }}</h3>
                    <img src="{{ camera.image_url }}">
                    {% if camera.quantity > 0 %}
                        <div class="inStock">
                            In Stock
                        </div>
                    {% else %}
                        <div class="outOfStock">
                            Out Of Stock
                        </div>

                    {% endif %}
                    <h3 class="price">{{ camera.price }} $</h3>
                    <div class="actions">
                        <a class="viewDetails" href="{{ path('viewDetails', {'id': camera.id}) }}">View Details</a>
                            <a class="editCamera" href="{{ path('editCamera', {'id': camera.id}) }}">Edit</a>
                        <a class="deleteCamera" href="{{ path('deleteCamera', {'id': camera.id}) }}">Delete</a>
                    </div>
                </div>
            </div>
        {% else %}
            <h1>No cameras are published for sell.</h1>
        {% endfor %}
    </section>
{% endblock %}