{% extends 'base.html.twig' %}

{% block title %}
    Tablet Specifications
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @font-face {
            font-family: slick;
            font-weight: normal;
            font-style: normal;
            src: url('{{ asset('fonts/slick.eot') }}');
            src: url('{{ asset('fonts/slick.eot') }}#iefix') format('embedded-opentype'), url("{{ asset('fonts/slick.woff') }}") format('woff'), url('{{ asset('fonts/slick.ttf') }}') format('truetype'), url('{{ asset('fonts/slick.svg') }}#slick') format('svg');
        }
    </style>
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('css/slick-theme.css') }}">
{% endblock %}

{% block main %}
    <section class="wrapper">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td scope="row">Make</td>
                <td scope="row">{{ tablet.make }}</td>
            </tr>
            <tr>
                <td scope="row">Model</td>
                <td scope="row">{{ tablet.model }}</td>

            </tr>
            <tr>
                <td scope="row">RAM (GB)</td>
                <td scope="row">{{ tablet.ram }}</td>
            </tr>

            <tr>
                <td scope="row">Capacity (GB)</td>
                <td scope="row">{{ tablet.capacity }}</td>
            </tr>
            <tr>
                <td scope="row">Display Diagonal</td>
                <td scope="row">{{ tablet.display_diagonal }} W</td>
            </tr>
            <tr>
                <td scope="row">Processor Frequency (GHz)</td>
                <td scope="row">{{ tablet.processor_frequency }}</td>
            </tr>
            <tr>
                <td scope="row">Processor Cores</td>
                <td scope="row">{{ tablet.processor_cores }}</td>
            </tr>
            <tr>
                <td scope="row">Operation System</td>
                <td scope="row">{{ tablet.operation_system }}</td>
            </tr>
            </tbody>
        </table>
        <div class="actions">
            {% if app.user %}
                <a href="{{ path('addToWishlist', {'productId': tablet.product_id}) }}">
                    <button class="addToWishlist">
                        <i class="fa fa-heart" style="font-size:24px"></i>
                        Add To Wishlist
                    </button>
                </a>
                <a href="{{ path('addProdToCart', {'productId': tablet.product_id}) }}">
                    <button class="addToCart-big">
                        <i class="fa fa-shopping-cart" style="font-size:24px"></i>
                        Add To Cart
                    </button>
                </a>
            {% endif %}
            <a href="{{ path('buySingleProduct', {'id': tablet.product_id}) }}">
                <button class="orderNow">
                    Order Now
                </button>
            </a>
        </div>
        <div class="viewReviews">
            <h2>Reviews:</h2>
            <div id="average"></div>
            <h3 class="averageGrade">({{ averageGrade }})</h3>
            <input type="hidden" value="{{ averageGrade }}" id="average-grade">

            {% for review in reviews %}
                <div class="review">
                    <div class="heading">
                        <h5>{{ review.user.username }}:</h5>
                        <div class="stars-{{ review.grade }}"></div>
                        <h5>{{ review.gradeWords }}</h5>
                    </div>
                    <p>{{ review.comment }}</p>
                </div>
            {% else %}
                <h2>No reviews for this product yet.</h2>
            {% endfor %}
        </div>
        {% if app.user and userReview is null %}
            <h2 class="review-heading">Leave Rating:</h2>
            <div id="rateUser"></div>
            <form name="app_bundle_review_type" method="post">
                <div id="app_bundle_review_type">
                    <div class="form-group">
                        <input type="hidden" id="app_bundle_review_type_grade" name="app_bundle_review_type[grade]"
                               class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <label for="app_bundle_review_type_comment" class="required">Comment</label>
                        <textarea id="app_bundle_review_type_comment" name="app_bundle_review_type[comment]"
                                  required="required" class="form-control"></textarea>
                    </div>
                    {{ form_row(form._token) }}
                    <div class="form-group">
                        <button type="submit" id="app_bundle_review_type_submit" class="btn btn-primary"
                                name="app_bundle_review_type[submit]">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        {% endif %}
        {% if app.user and userReview is not null %}
            <div class="yourReview review">
                <div class="heading">
                    <h5>Your Review:</h5>
                    <div class="stars-{{ userReview.grade }}"></div>
                    <h5>{{ userReview.gradeWords }}</h5>
                </div>
                <p>{{ userReview.comment }}</p>
            </div>
        {% endif %}
    </section>
    <h2 class="you-may-like">You may like</h2>
    <section class="slider-products" id="other-tablets">
        {% for tablet in otherTablets %}
            <div class="advert">
                <div>
                    <img src="{{ tablet.image_address }}">
                    <div class="centerInsideAd tv">
                        <h3 class="description">{{ tablet.make }}</h3>
                        <h3 class="description">{{ tablet.model }}</h3>
                        {% if tablet.discount == 0 %}
                            <h3 class="price">{{ tablet.original_price }} $</h3>
                        {% else %}
                            <h3 class="price"><span
                                        class="oldPrice">{{ tablet.original_price }}</span> {{ tablet.promotion_price }}
                                $
                            </h3>
                        {% endif %}
                        <div class="buttons">
                            <a href="{{ path('viewTabletSpecifications', {'id': tablet.product_id}) }}">
                                <button class="viewDetails">
                                    View Details
                                </button>
                            </a>
                            {% if app.user %}
                                <a href="{{ path('addProdToCart', {'productId': tablet.product_id}) }}">
                                    <button class="addToCart">
                                        <i class="fa fa-shopping-cart" style="font-size:14px"></i>
                                        Add To Cart
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.rateyo.min.js') }}"></script>
    <script src="{{ asset('js/handleRating.js') }}"></script>
    <script src="{{ asset('js/slick.min.js') }}"></script>
    <script src="{{ asset('js/oneRowSliderHandle.js') }}"></script>
{% endblock %}
