{% extends 'base.html.twig' %}

{% block title %}
    Tablet Specifications
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
{% endblock %}

{% block main %}
    <section class="wrapper">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td scope="row">Make</td>
                <td scope="row">{{ tablet.make }}</td>
            </tr>
            <tr>
                <td scope="row">Model</td>
                <td scope="row">{{ tablet.model }}</td>

            </tr>
            <tr>
                <td scope="row">RAM (GB)</td>
                <td scope="row">{{ tablet.ram }}</td>
            </tr>

            <tr>
                <td scope="row">Capacity (GB)</td>
                <td scope="row">{{ tablet.capacity }}</td>
            </tr>
            <tr>
                <td scope="row">Display Diagonal</td>
                <td scope="row">{{ tablet.display_diagonal }} W</td>
            </tr>
            <tr>
                <td scope="row">Processor Frequency (GHz)</td>
                <td scope="row">{{ tablet.processor_frequency }}</td>
            </tr>
            <tr>
                <td scope="row">Processor Cores</td>
                <td scope="row">{{ tablet.processor_cores }}</td>
            </tr>
            <tr>
                <td scope="row">Operation System</td>
                <td scope="row">{{ tablet.operation_system }}</td>
            </tr>
            </tbody>
        </table>
        <div class="actions">
            {% if app.user %}
                <a href="{{ path('addToWishlist', {'productId': tablet.product_id}) }}">
                    <button class="addToWishlist">
                        <i class="fa fa-heart" style="font-size:24px"></i>
                        Add To Wishlist
                    </button>
                </a>
            {% endif %}
            <a href="{{ path('addToWishlist', {'productId': tablet.product_id}) }}">
                <button class="orderNow">
                    Order Now
                </button>
            </a>
        </div>
        <div class="viewReviews">
            <h2>Reviews:</h2>
            <div id="average"></div>
            <h3 class="averageGrade">({{ averageGrade }})</h3>
            <input type="hidden" value="{{ averageGrade }}" id="average-grade">

            {% for review in reviews %}
                <div class="review">
                    <h4>{{ review.user.username }}: {{ review.gradeWords }}</h4>
                    <p>{{ review.comment }}</p>
                </div>
            {% else %}
                <h2>No reviews for this product yet.</h2>
            {% endfor %}
        </div>
        {% if app.user and userReview is null %}
            <h2 class="review-heading">Leave Rating:</h2>
            <div id="rateUser"></div>
            <form name="app_bundle_review_type" method="post">
                <div id="app_bundle_review_type">
                    <div class="form-group">
                        <input type="hidden" id="app_bundle_review_type_grade" name="app_bundle_review_type[grade]"
                               class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <label for="app_bundle_review_type_comment" class="required">Comment</label>
                        <textarea id="app_bundle_review_type_comment" name="app_bundle_review_type[comment]"
                                  required="required" class="form-control"></textarea>
                    </div>
                    {{ form_row(form._token) }}
                    <div class="form-group">
                        <button type="submit" id="app_bundle_review_type_submit" class="btn btn-primary"
                                name="app_bundle_review_type[submit]">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        {% endif %}
        {% if app.user and userReview is not null %}
            <div class="yourReview">
                <h2>Your Review:</h2>
                <div class="review">
                    <h4>{{ userReview.user.username }}: {{ userReview.gradeWords }}</h4>
                    <p>{{ userReview.comment }}</p>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.rateyo.min.js') }}"></script>
    <script src="{{ asset('js/handleRating.js') }}"></script>
{% endblock %}
