{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @font-face {
            font-family: slick;
            font-weight: normal;
            font-style: normal;
            src: url('{{ asset('fonts/slick.eot') }}');
            src: url('{{ asset('fonts/slick.eot') }}#iefix') format('embedded-opentype'), url("{{ asset('fonts/slick.woff') }}") format('woff'), url('{{ asset('fonts/slick.ttf') }}') format('truetype'), url('{{ asset('fonts/slick.svg') }}#slick') format('svg');
        }
    </style>
    <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('css/slick-theme.css') }}">
{% endblock %}

{% block main %}
    <header class="masthead">
        <img src="{{ asset('images/header-bg.jpg') }}">
    </header>
    <h2 class="looking-for">Looking For...</h2>
    <section class="categories">
        <div class="category">
            <a href="{{ path('listAllSmartphones') }}">
                <img src="{{ asset('images/smartphone.jpg') }}">
            </a>
        </div>
        <a href="{{ path('listAllTablets') }}">
            <div class="category">
                <img src="{{ asset('images/tablet.jpg') }}">
            </div>
        </a>
        <a href="{{ path('listAllLaptops') }}">
            <div class="category">
                <img src="{{ asset('images/laptop.jpg') }}">
            </div>
        </a>
        <a href="{{ path('listAllTVs') }}">
            <div class="category">
                <img src="{{ asset('images/tv.jpg') }}">
            </div>
        </a>
    </section>

    <h2 class="you-may-like" id="latestProds-heading">View latest products:</h2>
    <section id="latestProds" class="slider-products">
        {% for prod in prods %}
            {% if prod.type == 'laptop' %}
                <div class="advert">
                    <div>
                        <img src="{{ prod.image_address }}">
                        <div class="centerInsideAd tv">
                            <h3 class="description">{{ prod.make }}</h3>
                            <h3 class="description">{{ prod.model }}</h3>
                            {% if prod.discount == 0 %}
                                <h3 class="price">{{ prod.original_price }} $</h3>
                            {% else %}
                                <h3 class="price"><span
                                            class="oldPrice">{{ prod.original_price }}</span> {{ prod.promotion_price }}
                                    $
                                </h3>
                            {% endif %}
                            <div class="buttons">
                                <a href="{{ path('viewLaptopSpecifications', {id: prod.id}) }}">
                                    <button class="viewDetails">
                                        View Details
                                    </button>
                                </a>
                                {% if app.user %}
                                    <a href="{{ path('addProdToCart', {'productId': prod.id}) }}">
                                        <button class="addToCart">
                                            <i class="fa fa-shopping-cart" style="font-size:14px"></i>
                                            Add To Cart
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if prod.type == 'smartphone' %}
                <div class="advert">
                    <div class="centerInsideAd">
                        <img src="{{ prod.image_address }}">
                        <h3 class="description">{{ prod.make }} {{ prod.model }}</h3>
                        {% if prod.discount == 0 %}
                            <h3 class="price">{{ prod.original_price }} $</h3>
                        {% else %}
                            <h3 class="price"><span
                                        class="oldPrice">{{ prod.original_price }}</span> {{ prod.promotion_price }}
                                $
                            </h3>
                        {% endif %}
                        <div class="buttons">
                            <a href="{{ path('viewSmartphoneSpecifications', {'id': prod.id}) }}">
                                <button class="viewDetails">
                                    View Details
                                </button>
                            </a>
                            {% if app.user %}
                                <a href="{{ path('addProdToCart', {'productId': prod.id}) }}">
                                    <button class="addToCart">
                                        <i class="fa fa-shopping-cart" style="font-size:14px"></i>
                                        Add To Cart
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if prod.type == 'tablet' %}
                <div class="advert">
                    <div>
                        <img src="{{ prod.image_address }}">
                        <div class="centerInsideAd tv">
                            <h3 class="description">{{ prod.make }}</h3>
                            <h3 class="description">{{ prod.model }}</h3>
                            {% if prod.discount == 0 %}
                                <h3 class="price">{{ prod.original_price }} $</h3>
                            {% else %}
                                <h3 class="price"><span
                                            class="oldPrice">{{ prod.original_price }}</span> {{ prod.promotion_price }}
                                    $
                                </h3>
                            {% endif %}
                            <div class="buttons">
                                <a href="{{ path('viewTabletSpecifications', {'id': prod.id}) }}">
                                    <button class="viewDetails">
                                        View Details
                                    </button>
                                </a>
                                {% if app.user %}
                                    <a href="{{ path('addProdToCart', {'productId': prod.id}) }}">
                                        <button class="addToCart">
                                            <i class="fa fa-shopping-cart" style="font-size:14px"></i>
                                            Add To Cart
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if prod.type == 'tv' %}
                <div class="advert">
                    <div>
                        <img src="{{ prod.image_address }}">
                        <div class="centerInsideAd tv">
                            <h3 class="description">{{ prod.make }}</h3>
                            <h3 class="description">{{ prod.model }}</h3>
                            {% if prod.discount == 0 %}
                                <h3 class="price">{{ prod.original_price }} $</h3>
                            {% else %}
                                <h3 class="price"><span
                                            class="oldPrice">{{ prod.original_price }}</span> {{ prod.promotion_price }}
                                    $
                                </h3>
                            {% endif %}
                            <div class="buttons">
                                <a href="{{ path('viewTVSpecifications', {id: prod.id}) }}">
                                    <button class="viewDetails">
                                        View Details
                                    </button>
                                </a>
                                {% if app.user %}
                                    <a href="{{ path('addProdToCart', {'productId': prod.id}) }}">
                                        <button class="addToCart">
                                            <i class="fa fa-shopping-cart" style="font-size:14px"></i>
                                            Add To Cart
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/slick.min.js') }}"></script>
    <script>
        $('#latestProds').slick({
            infinite: true,
            initialSlide: 0,
            slidesToShow: 3,
            arrow: true,
            dots: true,
            speed: 300,
            centerMode: true,
            rows: 2,
            responsive: [
                {
                    breakpoint: 960,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    </script>
{% endblock %}
