{% extends 'base.html.twig' %}

{% block main %}
    <div class="cover">
        <div class="sortAndFilter">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle orderByDate" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Order By Date
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ path('listAllLaptopsNewToOld') }}">New to Old</a>
                    <a class="dropdown-item" href="{{ path('listAllLaptopsOldToNew') }}">Old To New</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle orderByPrice" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Order By Price
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ path('listAllLaptopsHighToLow') }}">High to Low</a>
                    <a class="dropdown-item" href="{{ path('listAllLaptopsLowToHigh') }}">Low To High</a>
                </div>
            </div>
            <a href="{{ path('listLaptopsDiscount') }}">
                <button type="button" class="btn onlySales">Only Sales</button>
            </a>
        </div>
    </div>
    <section id="viewAds">
        <div id="ads" class="ads centerAllAds">
            {% for laptop in laptops %}
                <div class="advert">
                    <div>
                        <img src="{{ laptop.image_address }}">
                        <div class="centerInsideAd tv">
                            <h3 class="description">{{ laptop.make }}</h3>
                            <h3 class="description">{{ laptop.model }}</h3>
                            {% if laptop.discount == 0 %}
                                <h3 class="price">{{ laptop.original_price }} $</h3>
                            {% else %}
                                <h3 class="price"><span
                                            class="oldPrice">{{ laptop.original_price }}</span> {{ laptop.promotion_price }}
                                    $
                                </h3>
                            {% endif %}
                            <div class="buttons">
                                <a href="{{ path('viewLaptopSpecifications', {id: laptop.id}) }}">
                                    <button class="viewDetails">
                                        View Details
                                    </button>
                                </a>
                                {% if app.user %}
                                    <a href="{{ path('addProdToCart', {'productId': laptop.id}) }}">
                                        <button class="addToCart">
                                            <i class="fa fa-shopping-cart" style="font-size:14px"></i>
                                            Add To Cart
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}